{% extends 'main/base.html' %}
{% load static %}
{% block title %} LearnLite {% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <div>
        <video class="main_video rounded-4 mt-5" src="https://firebasestorage.googleapis.com/v0/b/unit-3-project-d265e.appspot.com/o/6550419-uhd_3840_2160_25fps.mp4?alt=media&token=16e9851d-61f4-4436-af1b-0c43a4d47722" autoplay loop muted></video>
    </div>
    <div>
        <div class="d-flex flex-column align-items-center">
            <img src="{% static 'images/LearnLite.png' %}" class="homepage_image">
            <p class="under_logo_text">Study Smarter, Not Harder</p>
        </div>
    </div>
</div>
<div class="d-flex mt-5 flex-column align-items-center">
    <h2 class="main_phrase">Elevate Your Learning with AI</h2>
    <p>Start Your Studying</p>
    <a class="btn btn-outline-dark  d-flex justify-content-center align-items-center" href="#services"><span class="material-symbols-outlined">keyboard_arrow_down</span></a>
</div>
<hr />
<div class="d-flex justify-content-center mt-5 mb-4" id="services">
    <h1>Benefits</h1>
</div>
<div class="cards mb-5">
    <div class="p-3 card red">
        <p class="tip">Fast</p>
        <img class="card_imgs" src="{% static 'images/flash.png' %}" alt="flash">
    </div>
    <div class="card blue">
        <p class="tip">Generates By AI</p>
        <img class="card_imgs" src="{% static 'images/brain.png' %}" alt="smart">
    </div>
    <div class="card green">
        <p class="tip">Simplify The Hard Studying</p>
        <img class="card_imgs" src="{% static 'images/simplify.png' %}" alt="simplify">
    </div>
</div>
<hr />
<div class="d-flex flex-column align-items-center gap-4 mt-5">
    <h1>Services</h1>
    <div class="d-flex gap-5">
        <a class="text-decoration-none" href="{% url 'summary:add_summary' %}">
            <div class="card_container">
                <div class="card_container2">
                    <div class="front_content">
                        <p>Summary</p>
                    </div>
                    <div class="content_inside_card">
                        <p class="heading_of_card">Summary</p>
                        <p>Generate a summary or a brief about the subject by AI.</p>
                    </div>
                </div>
            </div>
        </a>
        <a class="text-decoration-none" href="{% url 'quizzes:add_test' %}">
            <div class="card_container">
                <div class="card_container2">
                    <div class="front_content">
                        <p>Quizzes</p>
                    </div>
                    <div class="content_inside_card">
                        <p class="heading_of_card">Quizzes</p>
                        <p>Generate a quiz about the subject by AI.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<hr />
{% endblock %}