{% extends "main/base.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block style %}
    {% static 'css/accounts.css' %}
{% endblock style %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{ user.username }}</span>
                <span class="text-black-50">{{ user.email }}</span>
                <span></span>

                <div class="Update Profile-border pt-2">
                    <span class="Update Profile"><a href="{% url 'accounts:profile_settings' %}" class="text-decoration-none">Update Profile</a></span>
                </div>

                <div class="Security-border pt-2">
                    <span class="Security"><a href="" class="text-decoration-none">Security</a></span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">My Task</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Tests</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Summary</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}
