{% extends "main/base.html" %}
{% load static %}

{% block title %}
    Settings
{% endblock title %}

{% block style %}
    {% static 'css/accounts.css' %}
{% endblock style %}

{% block content %}
<div class="col-md-5 border-right">
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
        </div>
        <form method="post" action="{% url 'accounts:profile_settings' %}" class="user-form">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col-md-6">
                    <label class="labels">Name</label>
                    <input type="text" class="form-control" name="first_name" placeholder="First name" value="{{ user.first_name }}">
                </div>
                <div class="col-md-6">
                    <label class="labels">Surname</label>
                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}" placeholder="Surname">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label class="labels">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" value="{{ user.username }}">
                </div>
                {% comment %} <div class="col-md-12">
                    <label class="labels">Mobile Number</label>
                    <input type="text" class="form-control" name="mobile_number" placeholder="Enter phone number" value="{{ user.profile.mobile_number }}">
                </div> {% endcomment %}
                <div class="col-md-12">
                    <label class="labels">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ user.email }}">
                </div>
            </div>
            <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
