{% extends "main/base.html" %}
{% load static %}

{% block title %}
    Subscribe
{% endblock title %}

{% block style %}
    {% static 'css/accounts.css' %}
{% endblock style %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">🌟 Subscribe Now and Unlock Exclusive Benefits! 🌟</h1>
        <p class="lead">Unlock a world of knowledge and convenience! Subscribe now to our student services and gain access to personalized study resources, exclusive discounts, and expert advice tailored just for you. 🎓✨</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            {% for subscription_type in subscription_types %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{subscription_type.name}}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{subscription_type.price}} <small class="text-muted">/ {{ subscription_type.months }} mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4" >
                            <p style="white-space:pre-line;">{{subscription_type.description}}</p>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-dark"><a class="text-decoration-none text-white" href="{% url 'accounts:subsicription_view' subscription_type.id %}">Subscribe Now!</a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
