{% extends "main/base.html" %}
{% load static %}

{% block title %}Upload Document{% endblock title %}

{% block style %}{% static 'css/summary.css' %}{% endblock style %}

{% block content %}
<div style="min-height: 100vh;" class="mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Upload a PDF Document</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" id="uploadForm">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="file" name="document" class="form-control" required>
                </div>
                <div class="mb-3">
                    <select name="complexity" class="form-select">
                        <option value="main_points">Main Points</option>
                        <option value="detailed">Detailed</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark" id="submitBtn">Generate Summary</button>
                <a href="{% url 'summary:list_summaries' %}" class="btn btn-outline-dark">Saved Summary</a>
            </form>
        </div>
    </div>
    <div id="loadingText" class="loading-area" style="display: none;">
        <div class="loader">
            <div class="cell d-0"></div>
            <div class="cell d-1"></div>
            <div class="cell d-2"></div>
            <div class="cell d-1"></div>
            <div class="cell d-2"></div>
            <div class="cell d-2"></div>
            <div class="cell d-3"></div>
            <div class="cell d-3"></div>
            <div class="cell d-4"></div>
        </div>
          <p> Generating summary... Please wait.</p>
    </div>
</div>

<script>
document.getElementById('uploadForm').addEventListener('submit', function(event) {
    event.preventDefault(); 
    document.getElementById('loadingText').style.display = 'flex'; 

    setTimeout(() => {
        this.submit(); 
    }, 1000); 
});
</script>
{% endblock content %}
