{% extends "main/base.html" %}
{% load static %}
{% block title %}Upload Document{% endblock title %}

{% block style %}{% static 'css/summary.css' %}{% endblock style %}

{% block content %}
<div style="min-height: 100vh ;" class=" mt-5">
    <a href="{% url 'summary:list_summaries' %}" class="btn btn-info mb-3">All Summaries</a>
    <div class="card">
        <div class="card-header">
            <h1>Upload a PDF Document</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="file" name="document" class="form-control" required>
                </div>
                <div class="mb-3">
                    <select name="complexity" class="form-select">
                        <option value="main_points">Main Points</option>
                        <option value="detailed">Detailed</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Generate Summary</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
