{% extends "main/base.html" %}
{% load static %}
{% block title %}All Tasks{% endblock title %}

{% block style %}{% static 'css/tasks.css' %}{% endblock style %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mt-5">
            <form class="d-flex justify-content-evenly align-items-center" action="" method="get">
                <input type="search" class="form-control w-50" name="search_query" placeholder="Enter The Title...">

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">None</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Almost Due</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Newest</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Newest</label>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}