{% extends "main/base.html" %}
{% load static %}
{% block title %}Generated Test{% endblock %}

{% block style %}{% static 'css/quizzes.css' %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            {% if questions %}
                <form action="{% url 'quizzes:submit_test' test.id %}" method="post">
                    {% csrf_token %}
                    {% for question in questions %}
                        <div class="list-group mb-3">
                            <div class="list-group-item list-group-item-action active">
                                {{ forloop.counter }}. {{ question.question_text }}
                            </div>
                            <div class="list-group-item">
                                <input type="radio" name="answer_{{ question.id }}" value="a" id="question_{{ forloop.counter }}_a">
                                <label for="question_{{ forloop.counter }}_a">{{ question.choice_a }}</label><br>
                                <input type="radio" name="answer_{{ question.id }}" value="b" id="question_{{ forloop.counter }}_b">
                                <label for="question_{{ forloop.counter }}_b">{{ question.choice_b }}</label><br>
                                <input type="radio" name="answer_{{ question.id }}" value="c" id="question_{{ forloop.counter }}_c">
                                <label for="question_{{ forloop.counter }}_c">{{ question.choice_c }}</label><br>
                                <input type="radio" name="answer_{{ question.id }}" value="d" id="question_{{ forloop.counter }}_d">
                                <label for="question_{{ forloop.counter }}_d">{{ question.choice_d }}</label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Submit Test</button>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    No questions have been generated for this test.
                </div>
            {% endif %}
            <div class="mt-4">
                <a href="{% url 'quizzes:save_test' test.id %}" class="btn btn-success">Save Test</a>
                <a href="{% url 'quizzes:discard_test' test.id %}" class="btn btn-danger">Discard Test</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
