/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.main_container {
  min-height: 100vh;
}
body {
  background-image: url('/static/images/study.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* navbar section */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 90px;
  background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(15px);
  padding: 6px 0px;
  padding-right: 10px;
  z-index: 99;
  transition: all 0.5s ease;
}

.dark .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 90px;
  background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(15px);
  padding: 6px 0px;
  padding-right: 10px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}

.dark .sidebar.open{
  width: 250px;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.dark .sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}

.dark .sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.dark .sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}

.dark .sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dark .sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
  text-align: right;
}

.dark .sidebar.open .logo-details #btn{
  text-align: right;
}

.sidebar i{
  color: #000;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.dark .sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.dark .sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.dark .sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #000;
  color: #FFF;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.dark .sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.dark .sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.dark .sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #fff;
}

.dark .sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #000;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.dark .sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #e2e4ce;
  color: #fff;
}

.dark .sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #000;
  color: #000;
}

.sidebar.open .bx-search:hover{
  background: #fff;
  color: #fff;
}

.dark .sidebar.open .bx-search:hover{
  background: #000;
  color: #000;
}

.sidebar .bx-search:hover{
  background: #000;
  color: #000;
}

.dark .sidebar .bx-search:hover{
  background: #000;
  color: #fff;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #fff;
}

.dark .sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #000;
}

.sidebar li a:hover{
  background: #000;
}

.dark .sidebar li a:hover{
  background: #fff;
}
.sidebar li a .links_name{
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.dark .sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.dark .sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name{
  transition: all 0.5s ease;
  color: #fff;
}

.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #fff;
}

.dark .sidebar li a:hover .links_name {
  transition: all 0.5s ease;
  color: #000;
}

.dark .sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #000;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.dark .sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #fff;
  transition: all 0.5s ease;
  overflow: hidden;
}

.dark .sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #000;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile{
  width: 250px;
}

.dark .sidebar.open li.profile{
  width: 250px;
}

.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.dark .sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.dark .sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.dark .sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #000;
  white-space: nowrap;
}

.sidebar li.profile .job{
  font-size: 12px;
}

.dark .sidebar li.profile .job{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #fff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.dark .sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #000;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar .profile #log_out{
  color: #000;
}
.sidebar .profile #log_out:hover {
  color: #FFF;
  background-color: #000;
}

.dark .sidebar .profile #log_out:hover {
  color: #000;
  background-color: #fff;
}

.sidebar.open .profile #log_out:hover {
  color: #FFF;
  background-color: #000;
}

.dark .sidebar.open .profile #log_out:hover {
  color: #000;
  background-color: #fff;
}

.dark .sidebar .profile #log_out{
  color: #fff;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.dark .sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

.dark .sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
/* footer section */
.dark .footer-basic {
  position: absolute;
  width: 100%;
  padding: 40px 0;
  background-color: #000;
  color: #fff;
}

.footer-basic {
  position: absolute;
  width: 100%;
  padding: 40px 0;
  background-color: #fff;
  color: #000;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.dark .footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #fff;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #000;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.dark .footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#fff;
  margin-bottom:0;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#000;
  margin-bottom:0;
}



/* homepage section */


.top_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage_image {
  width: 30vw;
  margin-top: 5vw;
}

.right_top {
  margin-top: 15vw;
}

.right_top button{
  margin-top: 10vw;
}

.titles {
  display: flex;
  justify-content: center;
}

.mid_section {
  display: flex;
  flex-direction: row;
}

.main_boxs {
  background: rgba(86, 86, 86, 0.1);
    backdrop-filter: blur(5px);
}

.bottom_section {
  display: flex;
}

/* contact page  */

/* .content {
  padding: 7rem 0; }

  .contact_us_text_input {
    border: none;
    border: 1px solid #d9d9d9;
    border-radius: 0; }
    .contact_us_text_input:active, .contact_us_text_input:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  .col-form-label {
    color: #000; }
  
  
  
  .contact_us_submit_button:active, .contact_us_submit_button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; } */

/* about page */
.about_page {
  margin-top: 5vw;
}
.welcome {
  display: flex;
  justify-content: center;
  font-size: 5vw;
}

.who_part {
  margin-top: 2.5vw;
}

.story_part{
  margin-top: 2.5vw;
}

.features_part{
  margin-top: 2.5vw;
}