* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;;
}
.filter_options label {
    white-space: pre;
}
.add_task_form{
  background-color: rgba(86, 86, 86, 0.1)
}
.task_img{
  width: 140px;
}